* {
    margin: 0;
    padding: 0;
}

.link-hover:hover {
    color: tomato;
    cursor: pointer;
}

.link-hover {
    font-weight: 700;
    font-size: larger;
}

.explore-btn:hover{
    background-color: gray;
}

.bodypart-card {
    background-color: white;
    padding: 15px 25px;
    border-radius: 20px;
    font-weight: 700;
}

/* .bodypart-card:hover {

} */